html {
    font-size: 62.5%;
}
body {
    margin: 0;
}
.clearfix {
    clear: both;
}
* {box-sizing: border-box;}

.mj-align--center {
    text-align: center;

}
#menuToggle input {
    display: none;
}
.hide-on-desktop {
    display: none !important;
}
.mj-image {
    position: relative;
    display: block;
    img {
        width: 100%;
        height: auto;;
    }
}
.mj-cols {
    position: relative;
    display: flex;
    .mj-col {
        flex: 1;
        p {
            font-size: 14px;
            line-height: 10px;
        }
    }
}
.mj-simple-list {
    position: relative;
    display: block;
    padding-left: 0px;
    list-style: none;
    .mj-simple-list {
        text-align: left;
        font-size: 18px;
        width: 50%;
        float:left;
        line-height: 28px;
        font-family: 'ClearSans-Regular';
        letter-spacing: 0;
        color: #808285;
        margin-top: 9px;
        opacity: 1;
    }
}
.mj-list {
    position: relative;
    display: block;
    padding-left: 0px;
    list-style: none;
    .mj-list__item {
        text-align: left;
        font-family: 'ClearSans-Light';
        font-size: 30px;
        line-height: 35px;
        border-bottom: 3px solid #F1F2F2;
        letter-spacing: 0;
        padding-top: 22px;
        padding-bottom: 17px;
        padding-left: 56px;
        background: url(../images/list_item.png);
        background-position: left;
        background-repeat: no-repeat;
        color: #000000;
        &:last-child {
            border-bottom: none;
        }
        a{
            font-family: 'ClearSans-Light';
            font-size: 30px;
            line-height: 35px;
        }
    }
}
/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.mj-lang-switcher {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    .btn {
        position: relative;
        float: left;
        display: inline-block;
        padding: 0px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        .glyphicon {
            position: absolute;
            top: 9px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .glyphicon:after {
            position: absolute;
            content: "";
            top: 3px;
            right: 8px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-color: #00C1DE transparent transparent transparent;
        }
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        
        min-width: 50px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        a {
            display: block;
            width: 100%;
        }
    }
    &.open > .dropdown-menu {
        display: block;
    }
    img { margin-right: 10px; margin-top: 5px; }
    // Flag picker
    .dropdown-toggle, .dropdown-menu { width: 50px }
    .dropdown-toggle .glyphicon { margin-left: 15px }
    .dropdown-menu>li>a:hover { background: #f1f9fd } /* $search-blue */
    .dropdown-header { background: #ccc; font-size: 14px; font-weight: 700; padding-top: 5px; padding-bottom: 5px; margin-top: 10px; margin-bottom: 5px }
    
}

.mj-container {
    position: relative;
    display: block;
    max-width: 1440px;
    min-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px;
    
    a {
        text-align: left;
        font-family: 'ClearSans-Regular';
        letter-spacing: 0;
        font-size: 1.8rem;
        line-height: 2.8rem;
        text-decoration: none;
        color: #00C1DE;
        &:hover {
            text-decoration: underline;
            color :#000;
        }
        &.mj-icon-link {
            position: relative;
            display: block;
            width: 100%;
            padding-right: 60px;
            font-size: 18px;
            line-height: 22px;
            font-family: 'ClearSans-Bold';
            letter-spacing: 0;
            color: #00C1DE;
            background: url(../images/arrow-right.png);
            background-position: right;
            background-repeat: no-repeat;
            margin-top: 120px;;
        }
    }
    
    p {
        text-align: left;
        font-family: 'ClearSans-Regular';
        font-size: 1.8rem;
        line-height: 2.8rem;
        letter-spacing: 0;
        color: #000000;
        .mj-bold {
            font-family: 'ClearSans-Bold';
        }
    }
    h1 {
        font-size: 5.8rem;
        font-family: 'ClearSans-Medium';
        color:#002025;
        letter-spacing: -1.74px;
        line-height: 6.7rem;
        text-align: left;
        &.headline {
            font-family: 'ClearSans-Medium';
            letter-spacing: 0px;
            font-size: 5.8rem;
            margin-bottom: 10px;
            line-height: 7.5rem;
            color: #002025;
            &.light {
                font-family: 'ClearSans-Thin';
                font-size: 42px;
                line-height: 48px;
                margin-top: 40px;
                margin-bottom: 40px;
            }
            span {
                border-bottom: 3px solid #00C1DE;
            }

        }
        &.uppercase {
            text-transform: uppercase;
        }
    }
    h2 {
        font-size: 4.2rem;
        font-family: 'ClearSans-Light';
        color:#000;
        letter-spacing: 0px;
        line-height: 4.8rem;
        text-align: left;
    }
    h3 {
        font-size: 4.2rem;
        font-family: 'ClearSans-Regular';
        color:#000;
        letter-spacing: 0px;
        line-height: 4.8rem;
        text-align: left;
    }
    h4 {
        font-size: 3.0rem;
        font-family: 'ClearSans-Medium';
        color:#000;
        letter-spacing: 0px;
        line-height: 3.5rem;
        text-align: left;
    }
    h5 {
        font-size: 2.2rem;
        font-family: 'ClearSans-Medium';
        color:#000;
        letter-spacing: 0px;
        line-height: 3.0rem;
        text-align: left;
    }
}

.mj-grid {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-gap: 0rem;
    .width-1\/24 {
        grid-column: span 1;
    }
    
    .width-2\/24 {
        grid-column: span 2;
    }
    
    .width-3\/24 {
        grid-column: span 3;
    }
    
    .width-4\/24 {
        grid-column: span 4;
    }
    
    .width-5\/24 {
        grid-column: span 5;
    }
    
    .width-6\/24 {
        grid-column: span 6;
    }
    
    .width-7\/24 {
        grid-column: span 7;
    }
    
    .width-8\/24 {
        grid-column: span 8;
    }
    
    .width-9\/24 {
        grid-column: span 9;
    }
    
    .width-10\/24 {
        grid-column: span 10;
    }
    
    .width-11\/24 {
        grid-column: span 11;
    }

    .width-12\/24 {
        grid-column: span 12;
    }

    .width-13\/24 {
        grid-column: span 13;
    }
    .width-14\/24 {
        grid-column: span 14;
    }
    
    .width-24\/24 {
        grid-column: span 24;
    }
    .width-22\/24 {
        grid-column: span 22;
    }
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.mj-sub-footer {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 88px;
    p {
        text-align: left;
        font-family: 'ClearSans-Regular';
        font-size: 1.2rem;
        line-height: 1.7rem;
        letter-spacing: 0;
        color: #000000;
        margin-top: 0px;
    }
    a {
        text-align: left;
        font-family: 'ClearSans-Regular';
        font-size: 1.2rem;
        line-height: 1.7rem;
        letter-spacing: 0;
        color: #000000;
        margin-top: 0px;
        &:hover {
            color: #00C1DE;
        }
    }
}
.mj-footer {
    position: relative;
    display: block;
    margin-top: 150px;
    border-top: 4px solid #9FF2FF;
    padding-top: 110px;
    .mj-logo {
        margin-bottom: 110px;
    }
    p {
        margin-top: 40px;
        text-align: left;
        font-family: 'ClearSans-Regular';
        font-size: 1.6rem;
        line-height: 2.4rem;
        letter-spacing: 0;
        color: #A7A9AC;
    }
    .footer__call-to-action {
        display: block;
        position: absolute;
        bottom: 10px;
        padding-right: 24px;
        width: 224px;
        background: url('../images/arrow-right.png');
        background-repeat: no-repeat;
        background-position: right;
        a {
            letter-spacing: 0;
            color: #00C1DE;
            text-transform: uppercase;
            font-family: 'ClearSans-Bold';
            font-size: 1.6rem;
            line-height: 2.4rem;
            &:hover {
                color:#000;
            }
        }
    }
    .social__links {
        display: block;
        position: absolute;
        bottom: 10px;
        .social__link {
            position: relative;
            display: block;
            width: 35px;
            height: 24px;
            float:left;
            margin-right: 40px;
            &:last-child {
                margin-right: 0px;
            }
            &.facebook__link {
                background: url('../images/facebook.png');
                background-repeat: no-repeat;
                width: 12px;
                &:hover {
                    background: url('../images/facebook-hover.png');
                    background-repeat: no-repeat;
                }
            }
            &.instagram__link {
                background: url('../images/instagram.png');
                width: 24px;
                background-repeat: no-repeat;
                &:hover {
                    background: url('../images/instagram-hover.png');
                    background-repeat: no-repeat;
                }
            }
            &.linkedin__link {
                background: url('../images/linkedin.png');
                width: 25px;
                background-repeat: no-repeat;
                &:hover {
                    background: url('../images/linkedin-hover.png');
                    background-repeat: no-repeat;
                }
            }
            &.youtube__link {
                background: url('../images/youtube.png');
                background-repeat: no-repeat;
                &:hover {
                    background: url('../images/youtube-hover.png');
                    background-repeat: no-repeat;
                }
            }
        }
    }
    .footer__links {
        &:hover {
            .footer__links_header { 
                color: #00C1DE;
            }
        }
        .footer__links_header {
            text-transform: uppercase;
            margin-top: 0px;
            position: relative;
            &:after {
                display: block;
                position: absolute;
                bottom: -15px;
                content: "";
                width: 22px;
                border-bottom: 2px solid #00C1DE;
            }
        }
        .footer__menu {
            list-style: none;
            padding-left: 0px; 
            margin-top: 0px;
            li {
                margin-top: 17px;
                &.submenu__item {
                    margin-top: 0px;
                }
            }
            a {
                color: #000;
                font-size: 1.6rem;
                line-height: 2.4rem;
                &:hover {
                    color: #00C1DE;
                }
            }
        }
    }

}
.mj-header {
    height: 96px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 8px #231F200F;
    opacity: 1;
    z-index: 99;
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    display: block;
    width: 100%;
    .mj-meniu {
        position: relative;
        display: block;
        list-style: none;
        padding-left: 0px;
        margin-top: 22px;
        .meniu__item {
            position: relative;
            display: block;
            float: left;
            text-align: left;
            padding: 17px;
            padding-left: 30px;
            padding-right: 30px;
            &.meniu__item__has_submeniu:after {
                position: absolute;
                content: "";
                top: 22px;
                right: 10px;
                width: 0;
                height: 0;
                border: 6px solid transparent;
                border-color: #00C1DE transparent transparent transparent;
            }
            &:hover {
                &.meniu__item__has_submeniu:after {
                    border-color: transparent transparent #00C1DE transparent;
                    top: 16px;
                }
                &.meniu__item__has_submeniu {
                    background: #CFF9FF 0% 0% no-repeat padding-box;
                    border-radius: 4px 4px 0px 0px;
                    .meniu__submeniu {
                        height: auto;
                        min-height: 1000px;
                        list-style: none;
                        padding-left: 0px;
                        top: 50px;
                        width: 100%;
                        left: 0px;
                        
                        li {
                            background: #CFF9FF 0% 0% no-repeat padding-box;
                            padding: 17px;
                            padding-left: 30px;
                            padding-right: 30px;
                            border-top: 1px solid #00C1DE;
                            &:hover {
                                background: #00C1DE 0% 0% no-repeat padding-box;
                                color:#fff;
                                a {
                                    color:#fff;
                                }
                            }
                        }
                    }
                }
            }
            a {
                font-family: 'ClearSans-Bold';
                font-size: 1.4rem;
                line-height: 1.7rem;
                letter-spacing: 0;
                color: #00C1DE;
                text-transform: uppercase;
            }
            .meniu__submeniu {
                position: absolute;
                display: block;
                height: 0px;
                min-height: 0px;
                overflow: hidden;
            }
        }
    }
    .mj-call_to_action {
        position: relative;
        display: block;
        margin-top: 32px;
        padding-left: 22px;
        background-image: url('../images/Phone.png');
        background-repeat: no-repeat;
        background-position: left;
        .call_to_action__text {
            text-align: left;
            font-family: 'ClearSans-Regular';
            font-size: 1.2rem;
            line-height: 1.6rem;
            letter-spacing: 0;
            color: #00616F;
            margin: 0px;
        }
        .call_to_action__link {
            text-align: left;
            font-family: 'ClearSans-Bold';
            font-size: 1.2rem;
            line-height: 1.6rem;
            letter-spacing: 0;
            color: #00616F;
        }
    }
    .mj-logo {
        margin-top: 39px;
        position: relative;
        display: block;
        background: url(../images/Logo.png);
        width: 191px;
        height: 30px;
    }
    .pull-right {
        margin-top: 37px;
        -webkit-transition: all 0.5 ease;
        -moz-transition: all 0.5 ease;
        -o-transition: all 0.5 ease;
        -ms-transition: all 0.5 ease;
        transition: all 0.5 ease;
        &:hover {
            margin-right: 2px;;
        }
    }
}
.mj-form {
    input:focus {
        outline: none;
    }
    textarea:focus {
        outline: none;
    }
    .mj-textarea {
        width: 100%;
        height: 264px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #002025;
        border-radius: 4px;
        font-family: 'ClearSans-Regular';
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-top: 24px;
        padding-left: 16px;
        padding-top: 12px;
        &:focus {
            border: 2px solid #00C1DE;
            color: #00C1DE;
        }
        &.has_error {
            border: 2px solid #FC512F;
            color: #FC512F;
            &:focus {
                border: 2px solid #00C1DE;
                color: #00C1DE;
            }
        }
        &.disabled {
            background: #F9FAFA 0% 0% no-repeat padding-box;
            border: 1px solid #F1F2F2;
            cursor: not-allowed;
        }
    }
    .mj-input {
        width: 100%;
        height: 48px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #002025;
        border-radius: 4px;
        padding-left: 16px;
        padding-top: 2px;
        text-align: left;
        font-family: 'ClearSans-Regular';
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-top: 24px;
        &:focus {
            border: 2px solid #00C1DE;
            color: #00C1DE;
        }
        &.has_error {
            border: 2px solid #FC512F;
            color: #FC512F;
            &:focus {
                border: 2px solid #00C1DE;
                color: #00C1DE;
            }
        }
        &.disabled {
            background: #F9FAFA 0% 0% no-repeat padding-box;
            border: 1px solid #F1F2F2;
            cursor: not-allowed;
        }
        
    }
    input::-webkit-input-placeholder { /* Edge */
        opacity:0.3;
    }
    input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        opacity:0.3;
    }
    textarea::placeholder {
        opacity:0.3;
    }
    textarea::-webkit-input-placeholder { /* Edge */
        opacity:0.3;
    }
    textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
        opacity:0.3;
    }
    textarea::placeholder {
        opacity:0.3;
    }
    input:focus::-webkit-input-placeholder { /* Edge */
        opacity:1;
    }
    input:focus::-ms-input-placeholder { /* Internet Explorer 10-11 */
        opacity:1;
    }
    input:focus::placeholder {
        opacity:1;
    }

    input.has_error::-webkit-input-placeholder { /* Edge */
        opacity:1;
        color: #FC512F;
    }
    input.has_error::-ms-input-placeholder { /* Internet Explorer 10-11 */
        opacity:1;
        color: #FC512F;
    }
    input.has_error::placeholder {
        opacity:1;
        color: #FC512F;
    }

    input.disabled::-webkit-input-placeholder { /* Edge */
        opacity:0.3;
    }
    input.disabled::-ms-input-placeholder { /* Internet Explorer 10-11 */
        opacity:0.3;
    }
    input.disabled::placeholder {
        opacity:0.3;
    }
}

.mj-select{
    position: relative;
}
.mj-select select {
    display: none; /*hide original SELECT element:*/
}
.select-selected {
    width: 100%;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #002025;
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 12px;
    text-align: left;
    font-family: 'ClearSans-Regular';
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-top: 24px;
    &:hover {
        border: 1px solid #00C1DE;
        color: #00C1DE;
    }
}
.mj-select.disabled .select-selected {
    background: #F9FAFA 0% 0% no-repeat padding-box;
    border: 1px solid #F1F2F2;
    &:hover {
        color: #d2d3d3;
        cursor: not-allowed;
    }
    
}
.mj-select.disabled .select-items {
    display: none;
}
/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 22px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #00C1DE transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #00C1DE transparent;
    top: 14px;
}
.select-arrow-active {
    color: #00C1DE;
    border: 1px solid #00C1DE;
}

.disabled {
    cursor: not-allowed;
    .select-selected {
        color: #d2d3d3;
    }
    .select-arrow-active {
        color: #d2d3d3;
    }
    .select-selected:after {
        border-color: #d2d3d3 transparent transparent transparent;
    }
    .select-selected.select-arrow-active:after {
        border-color: #d2d3d3 transparent transparent transparent;
        top: 22px;
    }
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border: 1px solid #00C1DE;
    border-top: none;
    color: #00C1DE;
    div {
        padding-left: 16px;
        text-align: left;
        font-family: 'ClearSans-Regular';
        font-size: 1.6rem;
        height: 48px;
        padding-top: 12px;
        line-height: 2.4rem;
        border-bottom: 1px solid #00C1DE;
        color: #00C1DE;
        &:last-child {
            border-bottom: none;
        }
    }
}
/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: #F9FAFA;
}

.mj-btn {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 24px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-family: 'ClearSans-Bold';
    text-transform: uppercase;
    &.mj-btn--secondary {
        height: 48px;
        background: #00C1DE 0% 0% no-repeat padding-box;
        opacity: 1;
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: 0;
        color: #FFFFFF;
        
    }
    &.mj-btn--primary {
        height: 72px;
        background: #00C1DE 0% 0% no-repeat padding-box;
        opacity: 1;
        font-size: 2.2rem;
        line-height: 2.6rem;
        letter-spacing: 0;
        border-radius: 6px;
        color: #FFFFFF;
    }
    &.mj-btn--alt--2 {
        background: #CFF9FF 0% 0% no-repeat padding-box;
        border: 2px solid #CFF9FF;
        color: #00C1DE;
    }
    &.mj-btn--alt {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #00C1DE;
        color: #00C1DE;
    }
    &.mj-btn--disabled {
        background: #F1F2F2 0% 0% no-repeat padding-box;
        border: none;
        color: #D1D3D4;
        &:hover {
            background: #F1F2F2 0% 0% no-repeat padding-box;
            border: none;
            color: #D1D3D4;
            cursor: not-allowed;
        }
    }
    &:hover {
        background: #002025 0% 0% no-repeat padding-box;
        border: 1px solid #002025;
        color: #fff;
    }
}
.mj-steps {
    position: relative;
    display: block;
    list-style: none;
    padding-left:0px;
    margin-top: 290px;
    padding-bottom: 130px;
    .mj-step {
        position: relative;
        display: block;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 26px;
        border-left: 2px solid #00C1DE;
        opacity: 0.3;
        &.active {
            opacity: 1;
        }
        &:first-child {
            padding-top: 0px;
            .step_nr { 
                &:before {
                    top: 0px;
                    background: #00C1DE;
                }
            }
        }
        &:last-child {
            border-left: none;
            .step_nr {
                &:after {
                    content: "";
                    position: absolute;
                    display: block;
                    background: #00C1DE;
                    width: 2px;
                    height: 45px;
                    left: 0px;
                    top: 0px;
                }
                &:before {
                    left: -7px;
                    top:45px;
                }
            }
        }
        &:after {
            content: "";
            position: absolute;
            bottom: 0px;
            width: 168px;
            height: 3px;
            background: #fff;
            opacity: 0.2;
            left: 26px;
        }
        .step_nr {
            font-family: 'ClearSans-Regular';
            font-size: 42px;
            line-height: 35px;
            margin-bottom: 10px;
            letter-spacing: 0;
            color: #00C1DE;
            margin-left: -110px;
            &:before {
                content: "";
                position: absolute;
                display: block;
                background: url(../images/process_mobile_bg.png);
                width: 15px;
                height: 15px;
                border: 1px solid #00C1DE;
                border-radius: 50%;
                left: -10px;
                top: 45px;
            }
        }
        .step_title {
            font-family: 'ClearSans-Medium';
            font-size: 22px;
            line-height: 30px; 
            margin-top: -50px;
            letter-spacing: 0;
            color: #FFFFFF;
            text-transform: uppercase;
        }
        .step_content {
            font-family: 'ClearSans-Regular';
            font-size: 16px;
            line-height: 24px; 
            letter-spacing: 0;
            color: #FFFFFF;
        }
    }
}
.mj-register_form {
    width: 448px;
    height: 648px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 32px #00202514;
    border-radius: 6px;
    padding: 56px;
    position: fixed;
    z-index: 2;
    left: 50%;
    margin-left: 224px;
    top: 168px;
    .login {
        font-size: 14px;
        line-height: 17px;
        margin-top: -10px;
    }
    h3 {
        font-family: 'ClearSans-Medium';
        font-size: 22px;
        margin-top: 31px;
        line-height: 30px;
        letter-spacing: 0;
        color: #808285;
        margin-bottom: 0px;
        text-transform: uppercase;
    }
    p {
        text-align: left;
        font-family: 'ClearSans-Regular';
        font-size: 16px;;
        margin-top: 24px;;
        letter-spacing: 0;
        color: #808285;
        margin-bottom: 30px;
        margin-top: 0px;
        &.mj-align--center  {
            text-align: center;
            margin-top: 30px;
        }
        &.extra-small {
            color: #A7A9AC;
            font-size: 12px;
            line-height: 17px;
            margin-top: 47px;
            a{
                font-size: 12px;
                line-height: 17px;
            }
        }
    }
}
.section {
    position: relative;
    display: block;
    .section_icon {
        margin-top: 85px;
        display: block;
        position: relative;
    }
    .mj-images {
        position: relative;
        display: block;
        margin-top: 54px;
        margin-bottom: 40px;
        img {
            position: relative;
            display: block;
            float: left;
            margin-right: 52px;
        }
    }
    .sub_section {
        position: relative;
        display: block;
        text-align: left;
        font-family: 'ClearSans-Bold';
        font-size: 14px;
        line-height: 14px;
        color: #002025;
        letter-spacing: 0;
        opacity: 1;
        margin-top: 31px;
        background: url(../images/sub_menu_arrow.png);
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 42px;
        span {
            color: #00C1DE;
        }
    }
    &.section_1 {
        background-color: rgba($color: #CFF9FF, $alpha: 0.4);
        margin-top: 120px;
        .secton_bg_image {
            position: relative;
            display: block;
            img {
                position: absolute;
                top: -70px;
                max-height: 695px;
            }
        }
        .sub_section {
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0;
            color: #808285;
            margin-top: 50px;
            padding-left: 55px;
        }

    }
    &.section_3 {
        padding-bottom: 145px;
        background-image: url(../images/section_3_bg.png);
        background-repeat: no-repeat;
        background-position: calc(50% - 200px) bottom;
    }
    &.section_6 {
        .mj-box {
            background: #FFFFFFFC 0% 0% no-repeat padding-box;
            border: 1px solid #F1F2F2;
            border-radius: 6px;
            width: 840px;
            margin-top: 56px;
            margin-bottom: 56px;
            padding-bottom: 63px;
            p {
                margin-top: 45px;
            }
        }
    }
    &.section_9 {
        background-image: url(../images/bg_section_9_big.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        padding-top: 70px;
        padding-bottom: 70px;
        background-color: #F9FAFA;
        margin-top: 30px;
        .mj-list {
            .mj-list__item {
                font-family: 'ClearSans-Regular';
                font-size: 30px;
                line-height: 35px; 
                letter-spacing: 0;
                color: #808285;
            }
        }
    }
    &.section_7 {
        background: url(../images/process_mobile_bg.png);
        h1 {
            color: #fff;
            font-family: 'ClearSans-Medium';
            font-size: 30px;
            line-height: 35px; 

        }
        .sub_section {
            text-align: left;
            font-family: 'ClearSans-Regular';
            font-size: 30px;
            line-height: 35px; 
            letter-spacing: 0;
            color: #FFFFFF;
            padding-left: 0px;
            background: none;
            margin-bottom: 32px;
        }
    }
    .above_headline {
        text-align: left;
        font-family: 'ClearSans-Medium';
        text-transform: uppercase;
        margin-top: 63px;
        font-size: 22px;
        line-height: 30px;
        margin-bottom: -30px;
        letter-spacing: 0;
        color: #A7A9AC;
        opacity: 1;
    }
}
.quote {
    position: relative;
    display: block;
    background-image: none;
    width: 224px;
    height: 221px;
    float: left;
    margin-right: 56px;
    margin-top: 56px;
    background-repeat: no-repeat;
    background-position: left top;
    padding-bottom: 23px;
    &:nth-child(3) {
        margin-right: 0px;
    }
    &:nth-child(6) {
        margin-right: 0px;
    }
    &:last-child {
        margin-right: 0px;
    }
    p {
        font-size: 16px;
        line-height: 24px;
    }
    &:after {
        content: "";
        position: absolute;
        height: 3px;
        display:none;
        width: 153px;
        left: 0px;
        bottom: 0px;
        background: #F1F2F2;
    }
    img {
        position: relative;
        display: block;
        margin-left: 0px;
    }
}
.mj-testimonials {
    position: relative;
    display: block;
    width: 100%;
    .mj-testimonial {
        position: relative;
        display: block;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        padding: 22px;
        border: 2px solid #F1F2F2;
        margin-bottom: 56px;
        &:last-child {
            border-bottom: 2px solid #F1F2F2;
        }
        .mj-testimonial__author {
            margin-left: -50px;
        }
        .mj-testimonial__author__image {
            position: relative;
            display: block;
            float: left;
            margin-right: 16px;
        }
        .mj-testimonial__author__name {
            font-family: 'ClearSans-Regular';
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0;
            color: #002025;
            opacity: 1;
        }
        .mj-testimonial__author__position {
            text-align: left;
            font-family: 'ClearSans-Bold';
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0;
            color: #A7A9AC;
            text-transform: uppercase;
        }
        .mj-testimonial__rating {
            unicode-bidi: bidi-override;
            direction: rtl;
            text-align: left;
            span {
                display: inline-block;
                position: relative;
                width: 25px;
                height: 20px;
                &:before {
                    content: "\2605";
                    position: absolute;
                    left: 0; 
                    font-size: 20px;
                    color: #00C1DE;
                }
            }

        }
        .mj-testimonial__content {
            p {
                font-size: 16px;
                line-height: 24px;
                font-family: 'ClearSans-Regular';
                margin-bottom: 20px;
            }
        }
    }
}
@media only screen and (max-width: 1000px) {
    html {
        font-size: 55.5%;
    }
    .hide-on-desktop {
        display: block !important;
    }
    .quote {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        float: none;;
        margin-right: 0px;
        margin-top: 30px;
        padding-top: 30px;
        background-image: url(../images/quotes.png);
        background-repeat: no-repeat;
        background-position: left top;
        padding-bottom: 23px;
        &:after {
            display: block;
        }
        img {
            margin-left: 40px;
        }
    }
    .mj-testimonials {
        .mj-testimonial {
            border: none;
            padding: 0px;
            border-top: 2px solid #F1F2F2;
            padding-top: 22px;
            padding-bottom: 22px;
            margin-bottom: 0px;
            .mj-testimonial__author {
                margin-left: 0px;
            }
        }
    }
    .mj-steps {
        margin-top: 0px;
        padding-bottom: 30px;
        .mj-step {
            padding-top: 30px;
            padding-bottom: 30px;
            opacity: 1;
            .step_title {
                margin-top: 0px;
            }
            .step_nr {
                font-family: 'ClearSans-Medium';
                font-size: 22px;
                line-height: 17px;
                margin-bottom: 10px;
                letter-spacing: 0;
                margin-left: 0px;
                color: #00C1DE;
                &:before {
                    content: "";
                    position: absolute;
                    display: block;
                    background: url(../images/process_mobile_bg.png);
                    width: 15px;
                    height: 15px;
                    border: 1px solid #00C1DE;
                    border-radius: 50%;
                    left: -10px;
                    top: 30px;
                }
            }
            &:last-child {
                border-left: none;
                .step_nr {
                    &:after {
                        content: "";
                        position: absolute;
                        display: block;
                        background: #00C1DE;
                        width: 2px;
                        height: 32px;
                        left: 0px;
                        top: 0px;
                    }
                    &:before {
                        left: -7px;
                        top:32px;
                    }
                }
            }
        }
    }
    .mj-simple-list {
        .mj-simple-list {
            width: 100%;
            float: none;
            font-size: 16px;
            line-height: 24px;
        }
    }
    .section {
        .above_headline {
            margin-top: 24px;
            margin-bottom: 0px;
            font-family: 'ClearSans-Bold';
            text-transform: uppercase;
            font-size: 16px;
            line-height: 24px;
        }
        &.section_1 {
            background-image: none;
            margin-top: 0px;
            .sub_section {
                font-size: 14px;
                line-height: 14px;
                color: #002025;
                letter-spacing: 0;
                opacity: 1;
                margin-top: 31px;
            }
        }
        &.section_2 {
            padding-bottom: 262px;
            background: url(../images/section_2_bg.png);
            background-repeat: no-repeat;
            background-position: left -20px bottom -100px;
        }
        &.section_4 {
            margin-top: 60px;
        }
        &.section_7 {
            margin-top: 60px;
        }
        &.section_3 {
            margin-top: 20px;
            background-image: none;
            padding-bottom: 0px;
        }
        &.section_8 {
            margin-top: 20px;
        }
        &.section_6 {
            margin-top: 20px;
            .mj-box {
                border: none;
                border-radius: 0px;;
                width: 100%;
                margin-top: 20px;
                margin-bottom: 20px;
                padding-bottom: 0px;
                p {
                    margin-top: 15px;
                }
            }
        }
        &.section_9 {
            margin-top: 20px;
            background-image: url(../images/section_6_bg.png);
            background-repeat: no-repeat;
            background-position: right bottom;
            padding-top: 30px;
            padding-bottom: 260px;
            background-color: #F9FAFA;
            margin-top: 30px;
        }
        &.section_10 {
            margin-top: 20px;
        }
    }
    .mj-btn {
        &.mj-btn--primary {
            height: 48px;
            font-size: 18px;
            line-height: 26px;
        }
    }
    .mj-lang-switcher {
        position: absolute;
        display: inline-block;
        vertical-align: middle;
        top: 20px;
        left: 90px;
        button {
            background: #fff;
        }
    }
    .mj-search {
        position: absolute;
        display: block;
        width: 29px;
        height: 29px;
        background: url(../images/search.png);
        background-repeat: no-repeat;
        top: 17px;
        right: 70px;
    }
    .hide-on-mobile {
        display: none !important;
    }
    .mj-container { 
        width: 100%;
        min-width: 100%;
        padding-left: 24px;
        padding-right: 24px;
        a {
            &.mj-icon-link {
                margin-top: 26px;
                font-size: 14px;
                line-height: 14px;
            }
        }
        .mj-align--center {
            text-align: center;
        }
        .mj-font--small {
            font-family: 'ClearSans-Regular';
            font-size: 12px;
            line-height: 17px; 
            a {
                font-family: 'ClearSans-Regular';
                font-size: 12px;
                line-height: 17px; 
            }
        }
        .sub_section {
            position: relative;
            display: block;
            text-align: left;
            font-family: 'ClearSans-Bold';
            font-size: 14px;
            line-height: 14px;
            color: #002025;
            letter-spacing: 0;
            opacity: 1;
            margin-top: 31px;
            background: url(../images/sub_menu_arrow.png);
            background-position: left;
            background-repeat: no-repeat;
            padding-left: 42px;
            span {
                color: #00C1DE;
            }
        }
        p {
            text-align: left;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0;
            color: #000000;
            opacity: 1;
        }
        h1.headline {
            font-size: 30px;
            line-height: 41px;
            letter-spacing: -1px;
            margin-top: 5px;
            &.light {
                font-family: 'ClearSans-Medium'; 
                font-size: 30px;
                line-height: 41px;
                letter-spacing: -1px;
                margin-top: 5px;
            }
            
        }
    }
    .mj-sub-footer {
        margin-top: 30px;
        a {
            margin-top: 15px;
            position: relative;
            display: block;
        }
    }
    .mj-footer {
        margin-top: 54px;
        padding-top: 46px;
        .absolute_footer {
            position: absolute;
            right: 0px;
            bottom: 0px;
            left: 50%;
        }
        .footer__links {
            .footer__links_header {
                font-family: 'ClearSans-Regular';
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0;
                color: #000000;
            }
            .footer__menu {
                li {
                    margin-top: 10px;
                    &.mobile_smaller_distance {
                        line-height: 13px;
                        margin-top: 2px;
                    }
                    a{
                        font-family: 'ClearSans-Regular';
                        font-size: 12px;
                        line-height: 20px;
                        letter-spacing: 0;
                        color: #000000;
                    }
                }
            }
        }
        .mj-logo {
            margin-bottom: 10px;
        }
        p {
            color: #A7A9AC;;
            margin-top: 10px;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 138px;
        }
        .social__links {
            bottom: auto;
            top: 150px;
        }
        .footer__call-to-action {
            bottom: auto;
            top: 200px;
            width: 217px;
        }
        &:before {
            position: absolute;
            display: block;
            content: "";
            width: 5px;
            height: 48px;
            background: #00C1DE;
            top: -24px;
            left: 24px;
        }
    }
    .mj-header {
        height: 72px;
        .mj-logo {
            width: 56px;
            height: 25px;
            background: url(../images/logo-mobile.png);
            margin-top: 24px;
        }
    }
    #menuToggle {
        position: absolute;
        top: 25px;
        right: 24px;
        display: block;
        z-index: 9999;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        
        cursor: pointer;
        
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        
        -webkit-touch-callout: none;
    }

/*
 * Just a quick hamburger
 */
    #menuToggle span {
        display: block;
        width: 24px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        
        background: #00C1DE;
        border-radius: 3px;
        
        z-index: 1;
        
        transform-origin: 2px 0px;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-child(3) {
        background: #6FECFF;
    }

    #menuToggle span:nth-last-child(2)
    {
        transform-origin: 0% 100%;
        
    }

    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    #menuToggle input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #FC512F;
    }

    /*
    * But let's hide the middle one.
    */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
    * Ohyeah and the last one should go the other direction
    */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
        transform: rotate(-45deg) translate(0, -1px);

    }
    .mj-header .mj-meniu .meniu__item {
        float: none;
        padding-left: 0px;
    }
    .mj-header .mj-call_to_action {
        margin-top: 43px;
        margin-bottom: 41px;
        height: 42px;;
    }
    .mobile_login {
        position: relative;
        display: block;
        height: 22px;
        padding-left: 42px;
        background: url(../images/Login.png);
        background-repeat: no-repeat;
        background-position: left;
        margin-top: 41px;
    }

    /*
    * Make this absolute positioned
    * at the top left of the screen
    */
    #menu
    {
        position: absolute;
        width: 100vw;
        margin-left: calc(-100vw);
        padding: 24px;
        padding-top: 24px;
        background: #fff;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        border-top: 1px solid #9FF2FF;
        $a: calc(-100% + 48px);
        transform: translate(#{$a}, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); 
        a {
            font-size: 18px;
            line-height: 16px;
            position: relative;
            float: left;
        }
    }
    .mj-header .mj-meniu .meniu__item:hover.meniu__item__has_submeniu .meniu__submeniu {
        min-height: auto;
        top: 15px;
        position: relative;
    }
    .mj-header .mj-meniu .meniu__item.meniu__item__has_submeniu:after {
        position: relative;
        float: left;
        top: 6px;
        right: -10px;
    }
    #menu li
    {
        width: 100%;
    }
    
    /*
    * And let's slide it in from the left
    */
    #menuToggle input:checked ~ ul
    {
        transform: none;
        margin-left: calc(-100vw + 48px);
    }
    .mj-grid {
        display: grid;
        grid-template-columns: repeat(24, 1fr);
        grid-gap: 0rem;
        .width-1\/24 {
            grid-column: span 24;
        }
        
        .width-2\/24 {
            grid-column: span 24;
        }
        
        .width-3\/24 {
            grid-column: span 24;
        }
        
        .width-4\/24 {
            grid-column: span 24;
        }
        
        .width-5\/24 {
            grid-column: span 24;
        }
        
        .width-6\/24 {
            grid-column: span 24;
        }
        
        .width-7\/24 {
            grid-column: span 24;
        }
        
        .width-8\/24 {
            grid-column: span 24;
        }
        
        .width-9\/24 {
            grid-column: span 24;
        }
        
        .width-10\/24 {
            grid-column: span 24;
        }
        
        .width-11\/24 {
            grid-column: span 24;
        }
    
        .width-12\/24 {
            grid-column: span 24;
        }
    
        .width-13\/24 {
            grid-column: span 24;
        }
        .width-14\/24 {
            grid-column: span 24;
        }
        .width-22\/24 {
            grid-column: span 24;
        }
        .width-24\/24 {
            grid-column: span 24;
        }
        .width-mobile-12\/24 {
            grid-column: span 12;
        }
    }
}